name: CI Pipeline

on: [pull_request, push, workflow_dispatch]

jobs:
  test_n_lint:
    name: Test n' Lint
    runs-on: macos-latest
    steps:
      # Checkout source code and setup node version.
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.x"

      # Install dependencies 

      - name: Install Dependencies
        run: yarn install
      
      # Test n' Lint !

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test
